* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff;
  font-family: 'PT Sans', sans-serif;
}

.logo {
  color: #555;
  font-size: 2rem;
  margin-left: 5%;
  margin-top: 1rem;
  position: absolute;
  font-weight: lighter;
}

nav {
  margin-top: 0px;
  background: #fff;
  height: 70px;
  width: 100%;
  position: fixed;
  left: 0;
  top: -2%;
  width: 100%;
  z-index: 1;
  /* box-shadow: 0px 0px 15px 15px rgba(23, 238, 34, 0.1); */
}

nav ul {
  display: flex;
  justify-content: space-around;
  padding-top: 2.5rem;
  margin-left: 50%;
  margin-top: -.5rem;
  /* transform: skewY(2deg);
  -webkit-transform: skewY(2deg);
  -moz-transform: skewY(2deg);
  -ms-transform: skewY(2deg); */
}

li {
  list-style-type: none;
}

li a {
  text-decoration: none;
  /* margin: 10px; */
  color: #1dda0c;
  font-weight: lighter;
  margin-top: 3rem;
}

li a:hover {
  color: #1dda0c;
  transition: 1s ease-in-out;
}

.checkbtn {
  font-size: 30px;
  color: black;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

#Switch button {
  padding: .7rem;
  border-radius: 5px;
  background-color: #1dda0c;
  color: #fff;
  margin-top: -8px;
  border: none;
  cursor: pointer;
}

.container {
  display: flex;
  margin-left: 0%;
  margin-top: 30px;
  padding-top: 3rem;
}

.container img {
  width: 40%;
  margin-left: 10%;
  margin-top: 5%;
  border: 5px solid #1dda0c;
  border-radius: 5px;
  box-shadow: 0px 0px 15px 15px rgba(0, 0, 0, 0.1);
}

.text {
  margin-left: 10%;
  margin-top: 5%;
}

h1 {
  font-size: 3rem;
  color: #555;
  font-weight: lighter;
}

span {
  color: #1dda0c;
}

.text p {
  color: #555;
}

.wrap {
  display: flex;
  margin-left: 8%;
  margin-top: -6rem;
}

#iPhone {
  padding: 1rem;
  margin-left: 2%;
  border-radius: 5px;
  display: flex;
  background-color: #fff;
  height: 5vh;
  border: 1px solid rgb(206, 204, 204);
  box-shadow: 0px 0px 15px 15px rgba(0, 0, 0, 0.0);
}

/* #iPhone img {
  width: 30%;
  height: 4vh;
  margin-left: -10%;
} */

.fa-apple {
  font-size: 1.7rem;
  margin-right: 5px;
}

#iPhone a {
  text-decoration: none;
  color: #555;
  font-size: 11px;
}

#Android {
  padding: 1rem;
  border-radius: 5px;
  display: flex;
  background-color: #fff;
  height: 5vh;
  border: 1px solid rgb(206, 204, 204);
  margin-left: 2%;
  box-shadow: 0px 0px 15px 15px rgba(0, 0, 0, 0.0);
}

/* #Android img {
  width: 30%;
  height: 4vh;
  margin-left: -10%;
} */

.fa-google-play {
  font-size: 1.7rem;
  margin-right: 5px;
}

#Android a {
  text-decoration: none;
  color: #555;
  font-size: 11px;
}


img {
  margin-left: 5%;
}

/* @keyframes bgimage {
  0% {margin-right: 5%}
  100% {margin-left: 10%}
} */

.savings h4 {
  text-align: center;
  color: #555;
  margin-top: 10rem;
  font-size: 2rem;
  padding: 2rem;
  font-weight: lighter;
}

h3 {
  color: #fff;
  font-size: 2rem;
}

#savings {
  box-shadow: 0px 0px 15px 15px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  padding-bottom: 5rem;
}

.savings p {
  text-align: center;
  color: #555;
  margin-top: -20px;
}

.fa-money-bill {
  color: #fff;
  font-size: 3rem;
  padding-bottom: 1rem;
}

.fa-face-smile {
  color: #fff;
  font-size: 3rem;
  padding-bottom: 1rem;
}

.fa-handshake {
  color: #fff;
  font-size: 3rem;
  padding-bottom: 1rem;
}

.Box p {
  text-align: center;
  color: #fff;
  font-size: 12px;
}

.Box {
  display: flex;
  justify-content: center;
}

.Box1 {
  background-color: #333;
  padding: 2rem;
  border-radius: 10px;
  margin: 20px;
  box-shadow: 0px 15px 15px 0px rgba(0, 0, 0, 0.3);
  width: 30%;
}

.Box1 a {
  text-decoration: none;
  color: #1dda0c;
  font-size: 13px;
}

.Box1 h5 {
  text-align: center;
  color: #fff;
}

.Box1 p {
  color: #fff;
  text-align: left;
}

.Box1 h3 {
  font-weight: lighter;
}

.Tutors {
  display: flex;
  margin-left: 0%;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.Tutors img {
  width: 30%;
  margin-top: 3rem;
}

.Tuts {
  margin-left: 10%;
  margin-top: 5rem;
}

.Tuts h5 {
  color: #555;
  font-size: 2rem;
  font-weight: lighter;
}

.Tuts p {
  color: #555;
  margin-top: 30px;
}

.Learn {
  margin-top: 30px;
}

.Learn a {
  text-decoration: none;
  background-color: #1dda0c;
  color: #fff;
  padding: 1rem;
  border-radius: 5px;
}

#Testimonysection {
  background-color: white;
  padding-bottom: 5rem;
}

.Testimonyimagepart img {
  margin-left: 50%;
}

.Testimonyimagepart h2 {
  margin-top: -40%;
  margin-left: 55%;
  color: #fff;
  /* padding: 1rem; */
  font-size: 15px;
  /* background-color: #1dda0c;
  border-radius: 5px; */
}

.Testimony {
  display: flex;
  padding-top: 4rem;
}

.Testimonytext {
  margin-left: 20%;
  margin-top: 5%;
}

.Testimonytext h1 {
  color: #555;
  font-size: 5rem;
  font-weight: lighter;
}

.Testimonytext p {
  color: #333;
}

.Testimonytext input {
  font-size: 1rem;
  padding: .8rem;
  border-radius: 5px;
  border: 1px solid #1dda0c;
  background: transparent;
  color: #333;
  box-shadow: 0px 15px 15px 0px rgba(0, 0, 0, 0.1);
}

.Testimonytext button {
  background-color: #1dda0c;
  color: #fff;
  border: none;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0px 15px 15px 0px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

#Freedom {
  background-color: #fff;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.Freedom {
  margin-left: 10%;
}

.Freedom h1 {
  color: #1dda0c;
  font-weight: lighter;
}

.Freedom p {
  color: #555;
  line-height: 1.5;
}

.Freedom a {
  text-decoration: none;
  color: #1dda0c;
}

.Freedom a:hover {
  color: #1dda0c;
  transition: .5s ease-in-out;
}

#Money {
  background-color: #1dda0c;
  background-image: url('Image/download.png');
  padding-top: 5rem;
  padding-bottom: 5rem;
  box-shadow: 0px 15px 15px 0px rgba(0, 0, 0, 0.1);
}

.Money {
  margin-left: 10%;
}

.Money h1 {
  color: #fff;
}

.Money h3 {
  color: #fff;
  font-size: 1.5rem;
  font-weight: lighter;
}

.Money p {
  color: #fff;
  line-height: 1.7;
}

.Moneycharacteristics {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#Payments {
  background-color: #fff;
  padding-top: 5rem;
  padding-bottom: 5rem;
  box-shadow: 0px 0px 15px 15px rgba(0, 0, 0, 0.1);
}

.Payments {
  display: flex;
  margin-left: 10%;
}

.Payments img {
  width: 60%;
  margin-top: -10%;
  margin-left: 20%;
}

.Simplepayments {
  margin-top: 5%;
}

.Simplepayments h1 {
  color: #1dda0c;
  font-size: 4rem;
  font-weight: lighter;
}

.Simplepayments p {
  color: #333;
  font-size: 14px;
}

/* .Simplepayments a {
  background-color: #1dda0c;
  color: #fff;
  text-decoration: none;
  padding: .7rem;
  border-radius: 5px;
} */

.show-modal {
  font-size: 1rem;
  font-weight: lighter;
  padding: 1rem;
  border: none;
  background-color: #1dda0c;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

.hidden {
  display: none;
}

.close-modal {
  position: absolute;
  top: .2rem;
  right: 1rem;
  font-size: 3rem;
  color: #1dda0c;
  cursor: pointer;
  border: none;
  background: none;
}

.modal {
  /* background-color: #fff;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.1);
  margin-left: 30%;
  margin-top: -30%;
  position: absolute;
  width: 50%;
  border-radius: 5px;
  z-index: 10; */

  margin-top: 0px;
  background: #fff;
  width: 100%;
  position: fixed;
  z-index: 10;
  left: 30%;
  top: 30%;
  width: 50%;
  border-radius: 5px;
  border-bottom: 5px solid #1dda0c;
}

.modal h1 {
  padding-top: 2rem;
  color: #1dda0c;
  text-align: center;
  font-size: 2rem;
}

.modal p {
  padding-bottom: 2rem;
  text-align: center;
  color: #333;
}

.overlay {
  /* position: absolute;
  top: 570%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(1px);
  z-index: 5; */

  margin-top: 0px;
  background: #fff;
  height: 110vh;
  width: 100%;
  position: fixed;
  left: 0;
  top: -2%;
  width: 100%;
  z-index: 1;
  backdrop-filter: blur(3px);
  background-color: rgba(0, 0, 0, 0.6);
}

.Getintouch {
  display: flex;
  margin-left: 0%;
  padding-top: 5rem;
}

.touch {
  margin-left: 10%;
}

.touch h4 {
  font-size: 1.5rem;
  text-align: left;
  color: #1dda0c;
  margin-bottom: 10px;
  font-weight: lighter;
}

.touch li a {
  color: #555;
}

.touch li {
  color: #fff;
  font-size: 1rem;
  line-height: .2;
  display: block;
}

.btn {
  display: inline-block;
  text-decoration: none;
  /* padding: .5em 1.25em; */
  color: #fff;
  transition: transform 250ms ease-in-out, opacity 250ms linear;
}

.btn:hover,
.btn:focus {
  transform: scale(1.1);
  opacity: .9;
  color: #1dda0c;
  transition: .5s ease-in-out;
}

#footer {
  margin-top: 50px;
  margin-left: 10%;
  border-top: 2px solid #1dda0c;
  margin-right: 10%;
  padding: 1rem;
}

#footer h5 {
  text-align: left;
  font-size: 1rem;
  color: #555;
  font-weight: lighter;
}
